<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ECLUBS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>GetClubPictureServlet</servlet-name>
    <servlet-class>exper.GetClubPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetClubPictureServlet</servlet-name>
    <url-pattern>/getClubPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetActPictureServlet</servlet-name>
    <servlet-class>exper.GetActPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetActPictureServlet</servlet-name>
    <url-pattern>/getActPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetNewsPictureServlet</servlet-name>
    <servlet-class>exper.GetNewsPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewsPictureServlet</servlet-name>
    <url-pattern>/getNewsPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetApplyActPictureServlet</servlet-name>
    <servlet-class>exper.GetApplyActPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplyActPictureServlet</servlet-name>
    <url-pattern>/getApplyActPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetApplyNewsPictureServlet</servlet-name>
    <servlet-class>exper.GetApplyNewsPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplyNewsPictureServlet</servlet-name>
    <url-pattern>/getApplyNewsPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetApplyClubPictureServlet</servlet-name>
    <servlet-class>exper.GetApplyClubPictureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApplyClubPictureServlet</servlet-name>
    <url-pattern>/getApplyClubPicture</url-pattern>
  </servlet-mapping>
</web-app>